.hide-for-edit {
    display: none;
}

.favorited {
    color: red !important;
}

.not-favorited {
    color: grey !important;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F6357;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: #16432E; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid darkorange;
    padding: 5px;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #16432E; 
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-top: 2px solid darkorange;
    z-index: 2;
}

nav a {
    color: black;
    margin: 20px;
    text-decoration: none;
}



nav a:hover {
    color: orange;
}

nav a:active {
    color: darkorange;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 325px;
}

nav form.input-container {
    margin: 0 auto;
    right: 5%;
}

nav form.input-container input {
    position: relative;
    border: 3px solid darkorange;
    background-color: orange;
    color: black;
    border-radius: 5px;
    height: 25px;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 2px;
    right: 10px;
}

button[type="submit"] {
    border: 3px solid darkorange;
    background-color: orange;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

button[type="submit"]:hover {
    background-color: #CC5500;
}

nav form.input-container input::placeholder {
    color: black;
}



.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    height: 80vh;
}

.centered-button {
    text-align: center;
}

.centered-button input[type="submit"] {
    border: 3px solid darkorange;
    background-color: orange;
    border-radius: 5px;
    color: black;
    transition: background-color 0.3s ease;
}

.centered-button input[type="submit"]:hover {
    background-color: darkorange;
}

.centered-form input[type="text"], .centered-form input[type="password"] {
    border: 3px solid darkorange;
    border-radius: 5px;
    background-color: orange;
    color: black;
    height: 25px;
    width: 200px;
    margin: 10px;
}

.centered-form input[type="text"]::placeholder, .centered-form input[type="password"]::placeholder {
    color: black;
}

.centered-form a {
    text-decoration: none;
    color: black;
}

.centered-form a:hover {
    color: orange;
}

.welcome-message {
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    width: 75%;
    border-top: 2px solid darkorange;
    border-bottom: 2px solid darkorange;
    box-shadow:  0 10px 10px rgba(0, 0, 0, 0.2);
}

.meal {
    background-color: orange;
    color: black;
    border-radius: 15px;
    border: 3px solid darkorange;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 200px;
    transition: transform .2s; 
    margin-top: 65px;
    width: 400px;
}

.meal:hover {
    transform: scale(1.1); 
}

.meal img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid darkorange;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.meal-container {
    display: flex; 
    align-items: flex-start; 
    background-color: orange;
    border: 4px solid darkorange;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    height: 400px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    overflow: auto;
    margin-top: 100px;
}

.meal-details { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.meal-container img {
    width: 30%;
    border: 5px solid darkorange; 
    border-radius: 50%; 
    object-fit: cover; 
}

.favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dropdown {
    position: relative;
    display: flex;
    width: auto; 
    top: 40px;
}

.dropdown-content {
    display: none;
    background-color: transparent;
    min-width: 160px;
    border: 3px solid darkorange;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin: auto;
    z-index: 1;
    color: black;
}

.dropdown-content.show { 
    display: block;
}

.dropbtn {
    position: relative;
    display: flex;
    background-color: transparent;
    color: black;
    padding: 16px;
    right: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}

.dropbtn:after {
    content: '\25BC';
    font-size: 10px;
    padding-left: 5px;
}

.dropbtn.open:after {
    content: '\25B6';
}

.favorite-button button {
    background-color: transparent;
    border: none; 
}

#favorite-icon {
    border: 2px solid darkorange;
    border-radius: 50%;
    padding: 5px;
    background-color: transparent;
}

.fixed-meal-name {
    position: absolute;
    top: 2px;
    left: 34%; 
}

.favorites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    border: 5px solid darkorange;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    height: 400px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    overflow: auto;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.favorites-name{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.favorites-container h1 {
    color: black;
}

.favorites-container h2 {
    color: black;
}

.favorites-container a {
    color: black;
    text-decoration: none;
}

.favorites-container a:hover {
    color: darkorange;
}

.profile-container {
    position: relative;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    background-color: orange;
    border: 5px solid darkorange;
    border-radius: 15px;
    padding: 20px;
    width: 50%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    list-style-type: none;
}

.list-group-item {
    list-style-type: none;
}

.message-area {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    height: 100%; 
    bottom: 40px;
}

#profile-icon {
    border: 2px solid darkorange;
    border-radius: 50%;
    padding: 5px;
    background-color: transparent;
    margin-right: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-10%);
    list-style-type: none;
    width: 25%;
    height: 25%;
}

.user-info {
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.profile-button {
    text-decoration: underline;
    color: black;
}

.profile-button:hover {
    color: darkorange;
}

.profile-dropdown {
    position: relative;
    display: flex;
    top: 40px;
}

.profile-dropdown-content {
    display: none;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
}

.profile-dropdown-content.show { 
    display: block;
}

.profile-dropbtn {
    position: relative;
    display: flex;
    background-color: transparent;
    color: black;
    padding: 16px;
    right: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.profile-dropbtn:after {
    content: '\25BC';
    font-size: 10px;
    padding-left: 5px;
}

#edit-button {
    width: 200px;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
}

.edit-btn-area .btn {
    display: block;
    margin-bottom: 10px;
}

.join-message {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    bottom: 30px;
    position: relative;
}

ul.flashes {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

ul.flashes li {
    padding: 10px;
    background-color: pink; 
    color: darkred; 
    border: 1px solid red;
    margin-bottom: 10px;
    border-radius: 4px;
    list-style-type: none;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 75%;
    left: 72px;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    background-image: url('/static/images/food.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 5px solid darkorange;
    border-bottom: 5px solid darkorange;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.carousel-image {
    position: absolute;
    width: 30%;
    height: 97%;
    opacity: 0;
    animation: carousel-animation 9s infinite;
    border: 5px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.carousel-image-1 {
    animation-delay: 0s;
}

.carousel-image-2 {
    animation-delay: 3s;
}

.carousel-image-3 {
    animation-delay: 6s;
}

@keyframes carousel-animation {
    0% { transform: translateX(-100%); opacity: 0; }
    10% { transform: translateX(0); opacity: 1; }
    30% { transform: translateX(0); opacity: 1; }
    40% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(100%); opacity: 0; }
}

.random-meal-button {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    margin-top: 368px;
    color: black;
    background-color: orange;
    border: 2px solid darkorange;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    right: 529px;
}

.random-meal-button:hover {
    background-color: darkorange; 
}

.dropdown-btn {
    display: none;
}

/* 
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    nav {
        flex-direction: column;
        padding: 10px;
    }

    .footer-content {
        display: none;
    }

    nav a {
        display: none;
    }

    .dropdown-btn {
        position: relative;
        display: block;
        background-color: orange;
        border: 2px solid darkorange;   
        width: 101.5%;
        border-radius: 5px;
        top: 5px;
        height: 50px;
    }

    .input-container {
        flex-direction: column;
        padding: 10px;
        padding-right: 0;
    }

    nav form.input-container {
        width: 100%;

    }

    nav form.input-container input {
        width: 100%;

    }

    button[type="submit"] {
        display: flex;
        position: relative;
        width: 102%;
        height: 40px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        right: 10px;
        margin-top: 5px;
    }

    .centered-form {
        height: auto;
        padding: 10px;
    }

    .centered-button input[type="submit"] {
        display: flex;
        position: relative;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        left: 5px;
    }

    .centered-form input[type="text"], .centered-form input[type="password"] {
        width: 100%;
        margin: 5px 0;
    }

    .welcome-message {
        font-size: 16px;
        width: 100%;
        left: 4px;
        margin-top: 20px;
    }

    .meal {
        display: inline-block;
        width: 15%;
        margin-top: 30px;
        padding: 10px;
    }

    .container {
        flex-direction: column;
    }

    .meal-container {
        flex-direction: row;
        width: 100%;
        height: 50%;
        padding: 10px;
        margin-top: 50px;
        align-items: center; 
    }

    .meal-details { 
        margin-left: 10px;
    }

    .meal-container img {
        width: 100%;
    }

    .favorite-button {
        top: 5px;
        right: 5px;
    }

    .dropdown {
        top: 20px;
    }

    .dropdown-content {
        min-width: 100px;
        padding: 6px 8px;
    }

    .dropbtn {
        padding: 8px;
        right: 4px;
        font-size: 14px;
    }

    .dropbtn:after {
        font-size: 8px;
        padding-left: 3px;
    }

    #favorite-icon {
        padding: 3px;
    }

    .fixed-meal-name {
        left: 17%; 
    }

    .favorites-container {
        padding: 10px;
        width: 90%;
        height: 200px;
        margin-top: 25px;
    }

    .favorites-name {
        flex-direction: column;
        align-items: center;
    }

    .profile-container {
        width: 90%;
        padding: 10px;
        margin-top: 50px;
    }

    .message-area {
        flex-direction: column;
    }

    #profile-icon {
        width: 50%;
        height: 50%;
        margin-right: 0;
        top: 0;
        transform: translateY(0);
    }

    .user-info {
        align-items: center;
    }

    .profile-dropdown {
        top: 20px;
    }

    .profile-dropdown-content {
        min-width: 100px;
        padding: 6px 8px;
    }

    .profile-dropbtn {
        padding: 8px;
        right: 4px;
        font-size: 14px;
    }

    .profile-dropbtn:after {
        font-size: 8px;
        padding-left: 3px;
    }

    #edit-button {
        width: 100%;
        margin: 5px 0;
    }

    .edit-btn-area .btn {
        margin-bottom: 5px;
    }

    .join-message {
        margin-top: 25px;
        font-size: 16px;
        bottom: 15px;
    }

    ul.flashes li {
        padding: 5px;
        margin-bottom: 5px;
    }

    .carousel {
        width: 100%;
        height: 150px;
        left: 0;
        margin-top: 25px;
    }

    .carousel-image {
        width: 50%;
        height: 100%;
    }

    .carousel-image-1,
    .carousel-image-2,
    .carousel-image-3 {
        animation-duration: 9s;
    }

    .random-meal-button {
        padding: 8px 16px;
        bottom: 28em;
        right: 0;
        margin-top: 400px;
    }

    
} */