.hide-for-edit {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #98FB98;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

nav a {
    color: black;
    margin: 20px;
    text-decoration: none;
}

nav a:hover {
    color: orange;
}

nav a:active {
    color: darkorange;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 325px;
}

nav form.input-container {
    margin: 0 auto;
    right: 5%;
}

nav form.input-container input {
    border: 3px solid darkorange;
    background-color: orange;
    color: black;
    border-radius: 5px;
    height: 25px;
    width: 200px;
}

button[type="submit"] {
    border: 3px solid darkorange;
    background-color: orange;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

button[type="submit"]:hover {
    background-color: #CC5500;
}

nav form.input-container input::placeholder {
    color: black;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.centered-button {
    text-align: center;
}

.centered-button input[type="submit"] {
    border: 3px solid darkorange;
    background-color: orange;
    border-radius: 5px;
    color: black;
    transition: background-color 0.3s ease;
}

.centered-button input[type="submit"]:hover {
    background-color: darkorange;
}

.centered-form input[type="text"], .centered-form input[type="password"] {
    border: 3px solid darkorange;
    border-radius: 5px;
    background-color: orange;
    color: black;
    height: 25px;
    width: 200px;
}

.centered-form input[type="text"]::placeholder, .centered-form input[type="password"]::placeholder {
    color: black;
}

.centered-form a {
    text-decoration: none;
    color: black;
}

.centered-form a:hover {
    color: orange;
}