<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipe Explorer</title>
        <link rel="stylesheet" href="/static/styles.css">
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
</head>

<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        {% if g.user %}
        <a href="{{ url_for('show_favorites', user_id=g.user.id) }}">Favorites</a>
        <a href="{{ url_for('users_show', user_id=g.user.id) }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
        <form class="input-container" method="POST" action="{{ url_for('search') }}">
            <input type="text" name="main_ingredient" class="text input" placeholder="Main Ingredient">
            <input type="text" name="extra_ingredients" class="text input"
                placeholder="Extra Ingredients (comma separated)">
            <button type="submit"><i class="fas fa-search magnifier"></i></button>
        </form>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>