<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipe Explorer</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/cookbook-favicon.png') }}">
        <style>
            #extra-ingredients_search {
                display: none;
            }   
        </style>
    </head>
</head>

<body>
    <nav>
        
        {% if g.user %}
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('show_favorites', user_id=g.user.id) }}">Favorites</a>
        <a href="{{ url_for('users_show', user_id=g.user.id) }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        
        
        <form class="input-container" method="POST" action="{{ url_for('search') }}">
            <input type="text" name="main_ingredient" class="text input" placeholder="Main Ingredient">
            <input type="text" name="extra_ingredients" class="text input" id="extra-ingredients_search"
                placeholder="Extra Ingredients">
            <button type="submit"><i class="fas fa-search magnifier" id="magnifier"></i></button>
        </form>
        {% endif %}
    </nav>

    <footer class="nav">
        <div class="footer-content">
            <p>Contact Me:</p>
            <p>Email: <a href="mailto:yanmarkb@gmail.com">yanmarkb@gmail.com</a></p>
            <p>Phone: <span>(407)-953-8355</span></p>
            <p>GitHub: <a href="https://github.com/yanmarkb">https://github.com/yanmarkb</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/yanmark-berube">https://www.linkedin.com/in/yanmark-berube</a></p>
        </div>
    </footer>

    {% block content %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/app.js" ></script>
</body>

</html>