{% extends "base.html" %}

{% block content %}
<main>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% if meals %}
            {% for meal in meals %}
            <a href="{{ url_for('meal', id=meal.idMeal) }}" style="text-decoration: none; color: inherit;">
                <div class="meal">
                    <h2>{{ meal.strMeal }}</h2>
                    <img src="{{ meal.strMealThumb }}" alt="{{ meal.strMeal }}">
                </div>
            </a>
            {% endfor %}
        {% else %}
            <div class="welcome-message">
                <p>Welcome to Recipe Explorer. Please use the search bar above to begin looking for meals!</p>
            </div>
            <div class="carousel">
                <img class="carousel-image carousel-image-1" src="{{ meal.strMealThumb }}" alt="Meal Image">
                <img class="carousel-image carousel-image-2" src="{{ meal.strMealThumb }}" alt="Meal Image">
                <img class="carousel-image carousel-image-3" src="{{ meal.strMealThumb }}" alt="Meal Image">
            </div>
        {% endif %}
    </div>
</main>
{% endblock %}