{% extends "base.html" %}

{% block content %}
    <h1>{{ meal.strMeal }}</h1>
    <img src="{{ meal.strMealThumb }}" alt="{{ meal.strMeal }}">
    <h2>Ingredients</h2>
    <ul>
        {% for i in range(1, 21) %}
            {% if meal['strIngredient' ~ i] %}
                <li>{{ meal['strIngredient' ~ i] }} - {{ meal['strMeasure' ~ i] }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2>Instructions</h2>
    <p>{{ meal.strInstructions }}</p>

    <form method="POST" action="{{ url_for('show_favorites', user_id=g.user.id) }}">
        <input type="hidden" name="recipe_id" value="{{ meal.idMeal }}">
        <button type="submit">Favorite</button>
    </form>
    {% if meal %}
        <a href="{{ url_for('show_favorites', user_id=g.user.id, id=meal.idMeal) }}">View Favorites</a>
    {% endif %}
{% endblock %}