{% extends 'base.html' %}

{% block content %}
<style>
    #submit, #header_image {
        display: none;
    }
</style>

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <h2 class="join-message">Edit Your Profile</h2>

        <form method="POST" action="/users/profile" id="user_form" class="centered-form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {% if field.id not in ['submit', 'header_image', 'confirm_password'] %}
            <label for="{{ field.id }}">{{ field.label.text }}</label>
            {% endif %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}

            <p>To confirm changes, enter your password:</p>
            {% if form.password.errors %}
            {% for error in form.password.errors %}
            <span class="text-danger">
                {{ error }}
            </span>
            {% endfor %}
            {% endif %}
            <label for="{{ form.password.id }}">Password</label>
            {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

            <div class="edit-btn-area centered-button">
                <button type="submit" class="btn btn-success" id="edit-button">Edit this user</button>
                <a href="/users/{{ user.id }}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}