{% extends 'base.html' %}

{% block content %}
<div class="col-sm-6">
    <ul class="list-group" id="messages">
        <li class="list-group-item">
            <div class="message-area">
                <h2>{{ form.username.data }}</h2>
                <p>Email: {{ form.email.data }}</p>
                <p>Bio: {{ form.bio.data }}</p>
                <p>Location: {{ form.location.data }}</p>
                <img src="{{ form.image_url.data }}" alt="User image">
                <a href="{{ url_for('profile') }}">Edit Profile</a>
            </div>
        </li>
    </ul>
</div>
{% endblock %}